.arrow-up{
position: relative;
top:7px;
float: right;
height: 0;
width: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom:  5px solid black;
display: inline-block;
}

.arrow-down{
position: relative;
top:7px;
float: right;
height: 0;
width: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top:  5px solid black;
display: inline-block;
}

.arrow-all{
position: relative;
top:7px;
float: right;
height: 0;
width: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top:  5px solid black;
border-bottom:  5px solid black;
display: inline-block;
}